.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.wrapper {
  display: flex;
  align-items: center;
}

.logo,
.change_theme {
  margin-right: 20px;
  cursor: pointer;
}

.logo {
  swg {
    width: 65px;
    height: 65px;
  }
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  color: #4793FF;
}

.change-theme {
  swg {
    width: 35px;
    height: 35px;
  }
}