@import '../../styles/variables.scss'; 

.day_info_block {
  max-width: 750px;
  width: 100%;
  height: 300px;
  background: var(#{--components-background-default});
  box-shadow: $box-shadow;
  border-radius: 20px;
  position: relative;
  padding: 42px 0;
  padding-left: 32px;
  
  .cloud_img {
    position: absolute;
    top: 0;
    right: 0;
  }
}